<header class="p-header l-header" id="js-header">
  <div class="p-header__inner l-inner">
    <div class="p-header__logo">
      <%- include('../component/_c-logo', {pageFlag: page}) %>
    </div>
    <nav class="p-header__nav">
      <ul class="p-header__lists">
        <li class="p-header__list"><a href="">メニュー</a></li>
        <li class="p-header__list"><a href="">メニュー</a></li>
        <li class="p-header__list"><a href="">メニュー</a></li>
        <li class="p-header__list"><a href="">メニュー</a></li>
        <li class="p-header__list"><a href="">メニュー</a></li>
      </ul>
    </nav>
  </div>
</header>