/********************************
* インナー
********************************/
$l-inner: 1200px;

// 余白
$padding-pc: 3.3333%;
$padding-sp: 5.3333%;

/********************************
* フォント
********************************/
$base-font-family: "Noto Sans JP", sans-serif;
$sub-font-family: "Fira Sans", sans-serif;

// フォントサイズ
$base-font-size: 16;

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

/********************************
* カラー
********************************/
$base-color: #1A1A1A;
$yellow: #FFF400;
$sub-color: #ccc;
$black: #1A1A1A;
$base-background: #fff;
$white: #fff;
$white2: #F8F8F8;
$blue: #023E78;
$red: #E61264;
$yellow: #FFF400;
$gray: #CCC;
$gray2: #888888;
$gray3: #E8EAEC;
$gray4: #DDE8F0;
$gray5: #C7DBE9;
$gray6: #B0D0E5;
$gray7: #dddddd;
$pink: #cd8e9c;
$light-pink: #e9cbca;
$gold: #be9d61;