<a href="#" class="c-blog">
  <div class="c-blog__content">
    <p class="c-blog__category"><%= category %></p>
    <time class="c-blog__date"><%= date %></time>
  </div>
  <p class="c-blog__title"><%= title %></p>
</a>