<div class="c-company">
  <h2 class="c-company__title">会社概要</h2>
  <div class="c-company__dl">
    <div class="c-company__item">
      <dt class="c-company__dt">代表</dt>
      <dd class="c-company__dd">波瑠&emsp;慶太</dd>
    </div>
    <div class="c-company__item">
      <dt class="c-company__dt">事業内容</dt>
      <dd class="c-company__dd">
        <ul class="c-company__lists">
          <li class="c-company__list">ビジネス英会話教育事業</li>
          <li class="c-company__list">異文化交流サポート事業</li>
          <li class="c-company__list">ビジネス留学事業</li>
        </ul>
      </dd>
    </div>
    <div class="c-company__item">
      <dt class="c-company__dt">設立</dt>
      <dd class="c-company__dd">2012年10月03日</dd>
    </div>
    <div class="c-company__item">
      <dt class="c-company__dt">所在地</dt>
      <dd class="c-company__dd">
        <p class="c-company__text">&#12306;550-1000</p>
        <p class="c-company__text">大阪市西区土佐堀9-5-5</p>
      </dd>
    </div>
    <div class="c-company__item">
      <dt class="c-company__dt">TEL</dt>
      <dd class="c-company__dd">06-123-4567（代表）</dd>
    </div>
    <div class="c-company__item">
      <dt class="c-company__dt">FAX</dt>
      <dd class="c-company__dd">06-123-4568（代表）</dd>
    </div>
    <div class="c-company__item">
      <dt class="c-company__dt">E-mail</dt>
      <dd class="c-company__dd">globalstandard@example.com</dd>
    </div>
  </div>
</div>