<div class="c-lower-head">
  <picture class="c-lower-head__bg">
    <source srcset="<%= img_path %>.webp" type="image/webp">
    <img src="<%= img_path %>.jpg" alt="" width="1610" height="460" decoding="async">
  </picture>
  <div class="c-lower-head__inner">
    <h1 class="c-lower-head__title">
      <%= title %>
    </h1>
  </div>
</div>