<button class="c-scroll-top" id="js-scrollTop">
  <picture>
    <source srcset="./assets/images/common/scroll-top.png" type="image/webp" width="64" height="64">
    <img class="" src="./assets/images/common/scroll-top.png" alt="" width="64" height="64" decoding="async">
  </picture>
</button>