<div class="c-tab">
  <div class="c-tab__menu">
    <button class="c-tab__menuItem js-tab-active">HTML</button>
    <button class="c-tab__menuItem">CSS</button>
    <button class="c-tab__menuItem">JavaScript</button>
    <button class="c-tab__menuItem">GSAP</button>
  </div>
  <div class="c-tab__content">
    <div class="c-tab__contentItem">
      <img src="https://ryo-sukeblog.net/wp-content/uploads/2023/01/logo-html5.svg" alt="HTMLのロゴ">
      <p>HTMLは、ウェブページの基本構造を定義するマークアップ言語です。要素と呼ばれるタグを使って、テキストや画像などのコンテンツを構成します。</p>
    </div>
    <div class="c-tab__contentItem">
      <img src="https://ryo-sukeblog.net/wp-content/uploads/2023/01/logo-css3.svg" alt="CSSのロゴ">
      <p>CSSは、ウェブページのデザインやレイアウトを制御するスタイルシート言語です。HTMLでマークアップされたコンテンツに対して、スタイルを適用することができます。</p>
    </div>
    <div class="c-tab__contentItem">
      <img src="https://ryo-sukeblog.net/wp-content/uploads/2023/01/logo-javascript.svg" alt="JavaScriptのロゴ">
      <p>JavaScriptは、ウェブページにインタラクティブな機能を追加するプログラミング言語です。ブラウザで動作し、HTMLやCSSと連携してユーザーエクスペリエンスを向上させます。</p>
    </div>
    <div class="c-tab__contentItem">
      <img src="https://ryo-sukeblog.net/wp-content/uploads/2023/01/gsap-greensock.svg" alt="GSAPのロゴ">
      <p>GSAPは、ウェブページ上のアニメーションを簡単に制御できるJavaScriptライブラリです。GSAPを使うことで、複雑なアニメーションも短いコードで実装することができます。GSAPは、ウェブページ上のアニメーションを簡単に制御できるJavaScriptライブラリです。GSAPを使うことで、複雑なアニメーションも短いコードで実装することができます。</p>
    </div>
  </div>
</div>