@use "global" as *;

.c-mvLower {
  position: relative;
  width: 100%;
  height: r(250);
}

.c-mvLower::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.c-mvLower--01::after {
  background-image: url(../images/common/mv-lower_01.jpg);

  @include mq() {
    background-image: url(../images/common/mv-lower_01-sp.jpg);
  }
}

.c-mvLower--02::after {
  background-image: url(../images/common/mv-lower_02.jpg);

  @include mq() {
    background-image: url(../images/common/mv-lower_02-sp.jpg);
  }
}

.c-mvLower--03::after {
  background-image: url(../images/common/mv-lower_03.jpg);

  @include mq() {
    background-image: url(../images/common/mv-lower_03-sp.jpg);
  }
}

.c-mvLower--04::after {
  background-image: url(../images/common/mv-lower_04.jpg);

  @include mq() {
    background-image: url(../images/common/mv-lower_04-sp.jpg);
  }
}

.c-mvLower--05::after {
  background-image: url(../images/common/mv-lower_05.jpg);

  @include mq() {
    background-image: url(../images/common/mv-lower_05-sp.jpg);
  }
}

.c-mvLower::before {
  position: absolute;
  content: "";
  width: r(365);
  height: 100%;
  background-image: url(../images/common/lower-mv-decoration.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 10;

  @include mq() {
    width: calc(166/375)*100vw;
    background-image: url(../images/common/lower-mv-decoration-sp.png);
  }
}

.c-mvLower__bg {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.2);
  top: 0;
  left: 0;
  z-index: 10;
}

.c-mvLower__textBlock {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: min(18%, calc(50% - r(420)));
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;

  @include mq() {
    left: calc(20/375)*100vw;
  }
}

.c-mvLower__titleEn {
  font-size: r(60);
  font-weight: $medium;
  font-style: italic;
  font-family: $sub-font-family;
  line-height: normal;
  color: $blue;
  text-transform: uppercase;
  background-color: $white;
  display: inline-block;
  padding-left: r(2);

  @include mq() {
    font-size: r(32);
  }
}

.c-mvLower__titleJp {
  font-size: r(20);
  font-weight: $bold;
  line-height: normal;
  background-color: $white;
  display: inline-block;
  margin-top: r(8);

  @include mq() {
    font-size: r(16);
  }
}